.about-pic{
    width: 350px;
    border-radius: 25px;
}
.About{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 50px 150px;
}
.About-title{
    position: relative;
}
.About-title h1{
    padding: 0px 20px;
    font-size: 50px;
    font-weight: 200;
    font-style: italic;
}
.About-sections{
    display: flex;
    gap: 50px;
}
.about-right{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.about-para{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    font-family: 200;
}
.about-skills{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.about-skill{
    display: flex;
    gap: 30px;
    align-items: center;
    transition: 0.3s;
    
}
.about-skill p{
    min-width: 150px;
    font-size: 20px;
    font-weight: 500;
}
.about-skills hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg,#df8908 -5.09%,#b415ff 106.28%);
}
.about-skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
}